{% extends "base-no-footer.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block base_content %}



<div class="container">
  <div class="row">
    <div class="col-md8 mt3 offset-md-2">
      <h1>{% trans "Sign In" %}</h1>

      <p>{% blocktrans %}Welcome back to Spotless Co. Please log in. If you do not have an account, please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button  class="btn-signup btn " type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
