@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100;300&display=swap');

body {
    color: black;
    font-size: large;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.hero {
    background-image: url("https://res.cloudinary.com/capsunica/image/upload/v1645556835/Cover-image_2_pfn3co.jpg");
    background-position: center 83%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;   
}

#intro {
    font-size: 20px;
}

span {
    font-style: oblique;
    font-weight: 500;
    color: rgb(75, 7, 7);
}

.btn-signup {
    background-color: rgb(71, 33, 107);
    color: white
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: rgb(71, 33, 107);
}

.steps-icons {
    width: 64px;
}

.social-logo {
    max-width: 60%;
}

.profile img {
    width: 75px;
    height: 75px;
    border-radius: 50%
}

.header-testimonials {
    padding-top: 35px;
    padding-bottom: 50px;
    color:black;
}

.testimonials {
    background-color: #cae9ff;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.58);
    border-radius: 16px;
    margin-top: 50px;
    margin-bottom: 50px
    }

#contact-button {
    color: rgb(129, 24, 24);
}

.services-img {
    background-image: url("https://res.cloudinary.com/capsunica/image/upload/v1645906162/services_syafvs.jpg") ;
    background-position: center 20% ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.service-container {
    background-color:rgba(152,170,172,0.5);
    /* background-color:rgba(90,100,93,0.7); */

}

#weekly {
    align-items: flex-end;
}


.callout-info {
    border-left-color: #5bc0de;
}

.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
}