@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100;300&display=swap');

/* General settings */

body {
    color: black;
    font-size: large;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Home page */

.hero {
    background-image: url("https://res.cloudinary.com/capsunica/image/upload/v1646134252/hero_image_hlew53.webp");
    background-position: center 83%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;   
}

#intro {
    font-size: 20px;
}

span {
    font-style: oblique;
    font-weight: 500;
    color: rgb(75, 7, 7);
}

.steps-icons {
    width: 64px;
}

.social-logo {
    max-width: 60%;
}

.profile img {
    width: 75px;
    height: 75px;
    border-radius: 50%
}

.header-testimonials {
    padding-top: 35px;
    padding-bottom: 50px;
    color:black;
}

.testimonials {
    text-align: center;
    border-radius: 16px;
    margin-top: 50px;
    margin-bottom: 50px
    }

/* Forms */

.btn-signup {
    background-color: #3E6680;
    color: white
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color:#3E6680
}

.callout-info {
    border-left-color: #5bc0de;
}

.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
}


/* Services */

.services-img {
    background-image: url("https://res.cloudinary.com/capsunica/image/upload/v1646143921/services_pv0763.webp") ;
    background-position: center 20% ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.service-container {
    background-color:rgba(152,170,172,0.5);
}

.service_images {
    height: auto;
    max-height: 64px;
}


#weekly {
    align-items: flex-end;
}




