{% extends "profile-base.html" %}
{% load django_bootstrap5 %}

{% block profile-content %}

<div class="container-fluid">
  <form action="./booking" method="POST" class="form">
    {% csrf_token %}
  
    {% bootstrap_form form layout='horizontal' %}
  
    {% bootstrap_button button_type="submit" content="Save" %}
    {% bootstrap_button button_type="reset" content="Clear" %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-8 offset-4 justify-content-center ">
          <p>Please note: <em>It can take up to 48 hours for Admin to approve your request.</em></p>
        </div>
      </div>
    </div>
  </form>
</div>
{%endblock %}
