{% extends "base.html" %}

{% block content %}

<!--Page heading-->
<div class="container-fluid m-0 p-0">
  <div class="row mh-50">
    <div class="px-4 py-5 text-center hero">
      <h1 class="display-5 fw-bold">Home Cleaning</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">You can do everything by yourself or ask for our help. With 10 years of experience in
          the cleaning industry, we leave your house <span>Spotless.</span></p>
        </p>
      </div>
    </div>
  </div>

  <!--Icons-->
  <div class="row">
    <div class="col-12 d-flex text-center justify-content-center">
      <h2>Four easy steps to a clean house:</h2>
    </div>
     <!-- TODO: Images and info. -->
    <div class="card-group">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>


  </div>
</div>

{%endblock%}