{% extends "base.html" %}

{% block content %}

<!--Page heading-->

<div class="px-4 py-5 text-center hero h-50">
    <h1 class="display-5 fw-bold">Home Cleaning</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">You can do everything by yourself or ask for our help. With 10 years experience in
        the cleaning industry, we leave your house <span>Spotless.</span></p></p>
      <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
      </div> -->
    </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h2>Four easy steps to a clean house</h2>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <!--Icons-->
        </div>
    </div>
</div>

{%endblock%}