{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load util_tags %}

{% block content %}

<!--User page. User can make a new booking, see history and update his registration details-->
{% if user.is_authenticated %}
<div class="container m-0 p-0">
    <div class="row flex-sm-nowrap">
        <div class="col-sm-2 p-4">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{% url 'dashboard_profile' %}" class="nav-link {% navactive request 'dashboard_profile' %}" aria-current="page">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'booking' %}" class="nav-link {% navactive request 'booking' %}">
                        Book
                    </a>
                </li>
                <li>
                    <a href="{% url 'edit_profile' %}" class="nav-link {% navactive request 'edit_profile' %}">
                        Edit profile
                    </a>
                </li>
                <a class="btn btn-warning" href="{% url 'account_logout' %}" role="button">Sign Out</a>

            </ul>
        </div>
    
        <div class="col-sm-10 p-4">
            {% block profile-content %}
            
            {% endblock profile-content %}
        </div>
    </div>
</div>


{% else %}

<p>Login to view your details.</p>

{% endif %}
{%endblock %}