{% extends "profile-base.html" %}
{% load django_bootstrap5 %}

{% block profile-content %}

<h2> Your bookings</h2>

<div class="accordion" id="accordionExample"></div>
{% for i in bookings %}

<div class="accordion-item">
  <h2 class="accordion-header" id="heading{{ i.entry.pk }}">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapse{{ i.entry.id }}" aria-expanded="false" aria-controls="collapse{{ i.entry.pk }}">
      {{ i.entry.date }} - {{ i.entry.service.name }} - {{ i.entry.get_state_display }}
    </button>
  </h2>
  <div id="collapse{{ i.entry.pk }}" class="accordion-collapse collapse" aria-labelledby="heading{{ i.entry.pk }}"
    data-bs-parent="#accordionExample">
    <div class="accordion-body">


      <form action="" method='POST' class="form-inline" style="margin: 8px;padding: 8px;">
        {% csrf_token %}
        {% bootstrap_form i.form layout='horizontal' %}
        <button name="{{ i.entry.pk }}" class="btn btn-primary" type="submit">Save changes</button>
        <button name="{{ i.entry.pk }}" class="btn btn-danger" type="reset">Cancel booking</button>

      </form>

    </div>
  </div>
</div>

<!-- <div class="container-fluid">{{ i.username }} - {{ i.date }} - {{i.service_type}}</div> -->
{% endfor %}
</div>

{%endblock %}