{% extends "base.html" %}

{% block content %}

<!--Page heading-->
<div class="container-fluid">
    <div class="row pb-5">
        <div class="px-4 py-5 services-img">
            <h2 class="display-5 justify-content-left mt-30 ">Here’s How It Works</h2>
            <div class="col-lg-5  mt-5 justify-content-left">
                <p class="lead mb-4" id="services-intro">Because each home is unique, we adapt our cleaning to your
                    requirements. <br> We have an introductory call with every new client.

                </p>
                <p>You can easily book online, from<span> 240 kr/h</span>. Final price
                    depends on the service type, how many tasks you have in mind, and your house surface.
                    You will receive electronic bill.</p>
                </p>
            </div>
        </div>
    </div>
    <!--Services with description and price -->
    {% for i in services %}
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="d-flex">
                <img class="service_images" src="{{ i.picture_url }}" alt="">
                <div class="p-3">
                    <h3 class="h3"> {{ i.name }} </h3>
                    <p class="mt-3 text-muted">{{ i.description }}</p>
                    <h6 class="font-weight-medium">Price/hour: {{ i.price }}</h6>
                    {% if user.is_authenticated %}
                    <a class="btn btn-primary" type="button" href="{% url 'booking' %}">Book service</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="row justify-content-center pt-5">
        <div class="col-md-6 mb-4">
            <div class="d-grid gap-2">

            </div>
        </div>
    </div>

    {%endblock%}